*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(5, 5, 22);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: whitesmoke;
}

nav .logo{
    flex: 2;
}
nav .logo h1{
    font-family: monospace;
    font-size: 30px;
}

.menu{
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    gap: 20px;
}


.menu span{
    background-color: rgb(5, 5, 22);
    color: #DD9870;
    padding: 12px;
    border: 2px solid #DD9870;
    font-weight: bold;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

main section{
    width: 85%;
    padding: 30px;
}

main .showcase{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.showcase .left{
    width: 100%;
    position: relative;
}

.showcase .left-content h1, p, button, socials{
    margin-bottom: 28px;
}

.showcase .left h1{
    font-size: 60px;
    color: whitesmoke;
}
.showcase .left h1 span{
    color: #DD9870;
}

.showcase .left p{
    color: rgb(136, 136, 136);
    line-height: 30px;
}
.showcase .left button{
    padding: 25px;
    border: none;
    color:rgb(5, 5, 22);
    font-weight: bold;
    background: #DD9870;

}


.showcase .right{
    display: flex;
    justify-content: flex-end;
    
}
.showcase .right img{
    width: 400px;
    height: 400px;
    box-shadow: 22px 24px 5px 0px rgb(58, 57, 57);
}


.about h1{
    color: whitesmoke;
    border-bottom: 5px solid #DD9870;
    padding-bottom: 9px;
    width: 13%;
    font-size: 30px;
    margin-bottom: 40px;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.about-content{
    background: rgb(6, 6, 31);
    padding: 30px;
    border-radius: 20px;
}
.about-wrapper img{
    width: 400px;
    box-shadow: -30px 24px 5px 0px rgb(58, 57, 57);
}
.about-wrapper p{
    color: rgb(136, 136, 136);
    line-height: 30px;
}

.skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.skills .skill-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 20px;
    flex: 1;
}

.skills .lists-of-skills{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    flex: 1;
}
.skills .lists-of-skills span{
    margin: 8px;
    background-color: #f5bfa0d3;
    border-radius: 20px;
    border: 2px solid #DD9870;
    color: rgb(6, 6, 31);
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}


.projects{
    width: 85%;
    margin-top: 20px;
}
.projects h1{
    color: white;
    width: 10%;
    padding-bottom: 8px;
    border-bottom: 5px solid #DD9870;
}
.projects .project-wrapper{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.project{
    border: none;
    outline: none;
    border-radius: 12px;
    border: 1px solid lightgray;
    transition: .9s ease-in-out;
    position: relative;
    width: 350px;
    cursor: pointer;
    position: relative;
}
.project .github{
    position: absolute;
    top: 5px;
    right: -80px;
}
.project img{
    width: 350px;
    object-fit: cover;
    border-radius: 12px;
    transition: .9s ease-in-out;
    overflow: hidden;
}
.project:hover{
    transform: scale(0.9);
}

.project .project-footer{
    color: white;
    padding: 12px;
    line-height: 30px;
}
.project .project-footer span{
    background-color: #DD9870;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;
}
.project a{
    text-decoration: none;
}
.project .link-wrapper{
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;

}
.project .link-wrapper img{
    width: 25%;
}
.project .link-wrapper a{
    text-decoration: none;
    color: whitesmoke;
}

.contact{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
}
.contact h1{
    color: white;
    width: 10%;
    font-size: 25px;
    padding-bottom: 8px;
    border-bottom: 5px solid #DD9870;
}
.contact .contact-wrapper{
    margin-top: 15px;
    background: rgb(6, 6, 31);
    padding: 30px;
    border-radius: 20px;
    color: lightgray;
    line-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

footer{
    width: 100%;
    padding: 30px;
    background-color:rgb(6, 6, 31);
    text-align: center;
    color: whitesmoke;
}

.circle{
    padding: 200px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    z-index: -999;
    overflow: hidden;
}


@media screen and (min-width: 200px) and (max-width: 768px){
    header nav{
        padding: 10px;
        width: 90%;
    }
    
    main .showcase{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .showcase .left h1{
        font-size: 30px;
    }
    main .showcase .left p{
        font-size: 15px;
    }
    main .showcase .right img{
        display: none;
    }

    .about{
        width: 90%;
        padding: 12px;
    }
    .about img{
        width: 80%;
    }
    .about h1{
        width: 50%;
    }
    .about .about-wrapper{
        flex-direction: column;
    }
    .about-content{
        padding: 20px;
    }
    .about-content .me{
        width: 20%;
    }
    .about-content p{
        font-size: 15px;
    }


    .skills{
        flex-direction: column-reverse;
        
        gap: 20px;
        padding: 0;
    }
    .skills .lists-of-skills{
        padding: 12px;
    }
    .projects{
        padding: 0;
    }
    .projects .project-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        width: 300px;
    }
    .project img{
        width: 300px;
    }

    .contact .contact-wrapper{
        font-size: 	15px;
        line-height: 30px;
    }
    

    footer{
        font-size: 14px;
    }
}
